<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=750,user-scalable=no"/>
    	<meta content="telephone=no, address=no" name="format-detection" />
    	<link rel="icon" href="../img/gss.ico" type="image/x-icon">
    	<meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' 'unsafe-eval' http://app.guoss.cn/gss_api/server/api.do http://61.164.113.187:8090/gssapi/server/api.do; style-src 'self' 'unsafe-inline' 'unsafe-eval'"/>
		
		<!-- build:css ../css/common.css -->
	    <link rel="stylesheet" type="text/css" href="../css/rest.css?v=0927"/>
	    <link rel="stylesheet" type="text/css" href="../css/base.css?v=0927"/>
	    <!-- /build -->
		<title>领券中心</title>
	</head>
	<body>
		<div class="header-wrap">
			<div class="header_left login_top_back sprite arrow_left_orange">返回</div>
			<h1 class="index_tit header_tit">领券中心</h1>
		</div>
		<div class="empty"></div>
		<div id="appVue" class="main-wrap ticket_main_wrap" v-cloak>
			<div class="ticket_nav clearfloat">
				<div class="ticket_nav_item float_left " v-for="(item,index) in vipNav" v-text="item.name" :class="{'active':coupon.type == item.type}" @click="couponNav(item)"></div>
			</div>
			<div class="ticket_main">
				<div class="ticket_main_content">
					<div class="ticket_item clearfloat" v-for="(item,index) in coupon['list']">
						<div class="ticket_item_left float_left">
							<span class="ticket_money" v-text='item.templateMoney'></span>
						</div>
						<div class="ticket_item_center float_left">
							<p class="ticket_tit"><span class="ticket_name" v-text='item.templateName'></span> <span data-url="vip.html" class="user_vip_icon" :class="'vip'+item.vipGrade"></span></p>
							<p class="ticket_item_time">有效期：<span v-text='item.realDays+"天"'></span></p>
							<p class="ticket_item_prerequisite" v-text='textList[coupon["type"]]+item.leastOrderMoney+"元"'></p>
							
						</div>
						<div class="ticket_item_right float_right" :class="'state'+item.state">
							<span class="btn" v-text="btnText(item)" @click="getCoupon(item)"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="ticket_bottom">
				<p>*VIP会员在会员期间只可领取一次<span v-text="coupon['name']"></span></p>
			</div>
		</div>
	</body>
	<!-- build:js js/min/address.min.js -->
	<script src="../quote/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../quote/mobile-util.js" type="text/javascript" charset="utf-8"></script>
	<script src="../quote/mdData.js" type="text/javascript" charset="utf-8"></script>
	<script src="../quote/layer.js" type="text/javascript" charset="utf-8"></script>
	<script src="../quote/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/ticket.js" type="text/javascript" charset="utf-8"></script>
	<!-- endbuild -->
	
</html>
