<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=750,user-scalable=no"/>
    	<meta content="telephone=no, address=no" name="format-detection" />
    	<link rel="icon" href="../img/gss.ico" type="image/x-icon">
    	<meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' 'unsafe-eval' http://app.guoss.cn/gss_api/server/api.do http://61.164.113.187:8090/gssapi/server/api.do; style-src 'self' 'unsafe-inline' 'unsafe-eval'"/>
		
    	<!-- build:css ../css/common.css -->
	    <link rel="stylesheet" type="text/css" href="../css/rest.css?v=20181010"/>
	    <link rel="stylesheet" type="text/css" href="../css/base.css?v=20181010"/>
	    <!-- /build -->
		<title>我</title>
	</head>
	<body class="top0">
		<div id="appVue">
			<div v-cloak v-show="logined" class="header-wrap goodsDetails_header wo_header">
				<!--<div class="header_left header_back sprite arrow_left_b">
					
				</div>
				<div class="index_tit header_tit">
					我的
				</div>
				<div class="header_right header_write login_type1 hidden sprite icon_write">
					
				</div>-->
				<div class="header_left">
					<dl data-url="set.html" @click="goToNext" data-url = 'vip.html' @click="goToNext">
						<dt><img src="../img/icon_set.png"/></dt>
						<dd>设置</dd>
					</dl>
				</div>
				<div class="index_tit header_tit">我的</div>
				<div v-cloak class="header_right">
					<dl>
						<dt><img src="../img/icon_server.png"/></dt>
						<dd>人工客服</dd>
					</dl>
					<a class="telPhone" :href="'tel:'+system.feedback_method"></a>
				</div>
			</div>
			<div class="main-wrap main_wo_wrap">
				<div class="main">
					<div v-cloak class="wo_top" :class={'login':logined}>
						<!--<img class="tp login_type1 hidden" src="../img/Icon@2x.png">
						<input class="login_type1 hidden" type="file" accept="image/*" name="" id="file" value="" />
						<b class="jf login_type1 hidden"></b>
						<b class="zh login_type1 hidden"></b>
						<b class="sz login_type1 hidden"></b>
						<p class="xs login_type1 hidden">
							<span></span><span></span><span></span><span></span>
						</p>
						<p class="hm login_type2">您还没有登录</p>
						<div class="jr login_type2">登录</div>
						<div class="lv login_type1 hidden">
							<img src="../img/lv@2x.png"/>
							<em class="lv_num"></em>
							<span>会员</span>
						</div>-->
						<p class="no_login_text" v-show="!logined">您还没有登录</p>
						<span class="no_login_btn" v-show="!logined" data-url = 'login_Infor.html' @click="goToNext">登录</span>
						
						<dl class="wo_top_info clearfloat" v-show="logined && userVipInfo.vip">
							<dt class="float_left">
								<img v-show="userInfo.faceImgUrl" class="user_faceImg" :src="'http://'+userInfo.faceImgUrl"/>
								<input class="login_type1 " type="file" accept="image/*" name="" id="file" value="" />
							</dt>
							<dd class="float_left" :class="{'active':userVipInfo.vip > 0}">
								<p class="top"><span class="user_name ellipsis" v-text="userInfo.firmName"></span> <span class="user_vip_icon" :class="'vip'+userVipInfo.vipGrade" data-url = 'vip.html' @click="goToNext" ></span> <span class="user_vip_msg" v-text="'上个月成长值为'+userVipInfo.lastMonthExp"></span></p>
								<p><span class="user_phone" v-text="userInfo.linkTel"></span></p>
							</dd>
							<dd class="my_details float_right" data-url = 'Business_Infor.html' @click="goToNext"></dd>
						</dl>
						<div class="wo_top_growInfo" v-show="logined && userVipInfo.vip">
							<div class="growInfo_pointer">
								<span v-text="'当月成长值'+userVipInfo.firmMonthExp" v-bind:style="{marginLeft:getMarginleft,left:getLeft}"></span>
							</div>
							<div class="growInfo_progress">
								<p class="growInfo_progressAll" ></p>
								<p class="growInfo_progressTrue" v-bind:style="{width: getWidth+'px'}"></p>
							</div>
							<div class="growInfo_progress_subscript">
								<p class="float_left" v-text="'再积'+userVipInfo.needExp+'成长值下月可享受VIP服务'"></p>
								<span class="float_right" v-text="userVipInfo.firmMonthExp > userVipInfo.monthExp ? userVipInfo.firmMonthExp : userVipInfo.monthExp"></span>
							</div>
						</div>
					</div>
					<div  v-cloak class="cont cont1 clearfloat">
					  	<dl class="float_left " data-url = 'vip.html' @click="goToNext">
					  		<dt><b>VIP</b></dt>
					  		<dd>服务</dd>
					  	</dl>
					  	<dl class="float_left" data-url = 'coupon_management.html' @click="goToNext">
					  		<dt><b v-text='userVipInfo.coupons || 0'></b><span>张</span></dt>
					  		<dd>优惠券</dd>
					  	</dl>
					  	<dl class="float_left" data-url = 'score.html'  @click="goToNext">
					  		<dt><b v-text='userVipInfo.surplusScore || 0'></b><span>个</span></dt>
					  		<dd>果币商城</dd>
					  	</dl>
				   	</div>
				   	<div class="cont cont2">
					  	<div class="cont_tit">我的订单</div>
					  	<div class="cont_order_box clearfloat">
					  		<dl v-for = "item in orderList" @click="goToNext(item)">
					  			<dt><img :src="item.icon"/></dt>
					  			<dd v-text="item.name"></dd>
					  		</dl>
					  	</div>
				  	</div>
				  	<div class="cont cont3">
					  	<div class="cont_tit">其他</div>
					  	<div class="cont_other_box clearfloat">
					  		<dl v-for = "item in otherList" @click="goToNext(item)">
					  			<dt><img :src="item.icon"/></dt>
					  			<dd v-text="item.name"></dd>
					  		</dl>
					  	</div>
				  	</div>
					<!--<div class="tt login_type1 hidden">
						退出
					</div>-->
				</div>
			</div>
			<div class="empty1"></div>
			<div v-cloak class="footer-wrap">
				<div class="footer1">
					<dl v-for="(item,index) in fonterNav.list" :class="(index == fonterNav.index)? 'yes' : 'no'" @click="goToNext1(index)" :data-url="item.linkUrl">
						<dt class="sprite" :class="item.classArr[(index == fonterNav.index)? 1 : 0]"><span v-if="index == 3 && isNewMsg" class="new_msg"></span></dt>
						<dd v-text="item.name"></dd>
					</dl>
				</div>
			</div>
		</div>
	</body>
	<!-- build:js scripts/combined.js?v=20180928 -->
		<script src="../quote/jquery-1.8.3.min.js?v=20180928" type="text/javascript" charset="utf-8"></script>
	    <script src="../quote/mobile-util.js?v=20180928" type="text/javascript" charset="utf-8"></script>
	    <script src="../quote/spark-md5.min.js?v=20180928" type="text/javascript" charset="utf-8"></script>
		<script src="../quote/mdData.js?v=20180928" type="text/javascript" charset="utf-8"></script>
		<script src="../quote/async.js?v=20180928" type="text/javascript" charset="utf-8"></script>
		<script src="../quote/upyun-mu.js?v=20180928"></script>
		<script src="../quote/vue.min.js?v=20180928" type="text/javascript" charset="utf-8"></script>
		<script src="../js/common.js?v=20180928" type="text/javascript" charset="utf-8"></script>
		<script src="../js/person.js?v=20180928" type="text/javascript" charset="utf-8"></script>
	<!-- endbuild -->
</html>
